@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100&display=swap');

* {
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body{
    background-color: #E9EFDE;
}

.haederContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-family: 'Roboto', sans-serif;
}

.haederContainer h1{
    color: #0D566D;      
    font-family: 'Gayathri', sans-serif;
    font-size: 80px;
    height: 80px;
    padding: 25px;
}

/* menu */
.navContainer{
    display: flex;
    align-items: center;
    background-color: #C28800;
    width: 100%;
    height: 75px;
}

.menuContainer{
    display: flex;
    width: 100%;
}

.menuHamburguesa {
    display: none;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px 0px; 
    width: 100%;
    height: 65px;
    background-color: #C28800;
    font-family: 'Gayathri', sans-serif;    
    color: #F9FFED;
    list-style: none;     
}

.menu a {
    color: #F9FFED;
    font-size: 40px; 
    padding: 10px 0px 0px;     
}

/*first page*/

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.ibb.co/TDQZk6p/Fondo-Totoro.jpg");
    background-size: cover;
    height: 900px;
    width: 100%;
}

.home img {
    display: none;
}

.aboutDescription {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    width: 60%;
}

.aboutTitle{    
    color: #0D566D;    
    font-family: 'Gayathri', sans-serif; 
    font-size: 50px;
    height: 50px;
    margin-left: 50px;
}

.aboutText{
    font-family: 'Gayathri', sans-serif;
    font-size: 25px;
    margin: 40px 50px 0;
}

.home img {
    margin-bottom: 100px;
    
}

/* Filmography */

.secondPage{
    margin-bottom: 100px;
}


.selector {
    display: none;
    font-family: 'Gayathri', sans-serif;
    color: #0D566D;
    font-size: 35px; 
    justify-content: space-around;   
    margin-top: 100px;
}

.sortMovie .filterMovies{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    font-family: 'Gayathri', sans-serif;
    font-size: 20px;
}

.films{
    display: none;    
    flex-wrap: wrap;
    justify-content:space-evenly;
    text-align: center; 
    margin-top: 50px;
}

.card_film {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    font-family: 'Gayathri', sans-serif;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.frontFaceCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    cursor: pointer;
}

.posterContainer {
    width: 90%;
    
}

.card_film img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.frontFaceCard h2{
    margin: 20px;
    font-size: 40px;
}

.movieDate{
    display: flex;
    flex-direction: row;
    width: 100%;    
    align-items: center;
    font-size: 30px;
    margin: 20px;
    justify-content:space-around;
    
    
}


.movieDate span{
    font-size: 35px;
    font-weight: bolder;
}



.movie_info {
    flex-direction: column;
    position: absolute;
    display: none;
    width: 100%;    
    height: 100%;
    padding: 3%;
    bottom: 0;
    overflow: auto;
    transition: transform 0.7s ease-in;
    background-color: #E9EFDE;
    transform: translateY(101%);
    border-radius: 20px;
}

.card_film:hover .movie_info{
    display: flex;
    transform: translateY(0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

.characters {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

/* footer */

footer{
    display:flex;    
    justify-content:space-around;
    align-items: center;  
    height: 150px;
}
footer a {
    color: #F9FFED;
}
.website{
    font-family: 'Gayathri', sans-serif;
    text-decoration: none;
    background-color: #098ED6; 
    padding: 20px 15px 15px 15px;  
    font-size: 25px;    
    border-radius: 15px;
}
i{
    font-size: 50px;    
}



/* For device width 990px and larger: */
@media only screen and (max-device-width: 576px) {
    .haederContainer{
            margin: 25px;
    }

   .haederContainer h1{
    padding: 30px;
    }
    
    .navContainer{
        justify-content: flex-end;
        position: relative;
    }
    .menuContainer {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 70px;
        width: 100%;
        height: fit-content;
        z-index: 10;
    }

    .menuHamburguesa{
        display: block;
    }
    .menuHamburguesa i{
        font-size: 50px;
        color: #F9FFED;
        margin-right: 30px;
    }



    .menu{
        display: none;
        flex-direction: column;
        align-items: center;
        height: auto; 
        padding-bottom: 70px;   
    }

    .menu.activated{
        display: flex;
    }

    .menu a {
        border-bottom: 2px solid #F9FFED;
        line-height: 90px;
        padding: 0;
    }

    .home{
        background-color: #E9EFDE;
        height: auto;
    }

    .home img {
        display: flex;
    }

    .aboutDescription{
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        width: 100%;
    }
    .aboutText{
        font-size: 15px;
    }
    .films  {
        margin-top: 0px;
    }
    .card_film {
        width: 300px;
    }
}