* {
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body{
    background-color: #E9EFDE;
}

.haederContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 25px;
}

.haederContainer h1{
    color: #0D566D;      
    font-family: 'Gayathri', sans-serif;
    font-size: 80px;
    height: 80px;
    padding: 25px;
}

/* menu */

.menuContainer {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #C28800;
    height: 50px;
}

.menuHamburguesa {
    display: flex;
    height: 20px;
    justify-content: flex-end;
}

.menu{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-evenly;    
    background-color: #C28800;
    padding: 1vw;        
    font-family: 'Gayathri', sans-serif;    
    color: #F9FFED;
    font-size: 3vw;
    list-style: none;
    z-index: 10;
}

.menu.activated{
    display: block;
}

.menu a {
    color: #F9FFED;    
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E9EFDE;
    width: 100%;
    height: auto;
}

 .aboutDescription {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 100px;
     width: 100%;
 }

.aboutTitle{    
    color: #0D566D;    
    font-family: 'Gayathri', sans-serif; 
    font-size: 50px;
    height: 50px;
}

.aboutText{
    font-family: 'Gayathri', sans-serif;
    font-size: 15px;
    margin: 40px 50px 0;
}

.home img {
    margin-bottom: 100px;
    
}

/* Filmography */

.secondPage{
    margin-bottom: 100px;
}


.selector {
    display: none;
    font-family: 'Gayathri', sans-serif;
    color: #0D566D;
    font-size: 30px; 
    justify-content: space-around;   
    margin-top: 100px;
}

.sortMovie .filterMovies{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    font-family: 'Gayathri', sans-serif;
    font-size: 20px;
}

.films{
    display: none;    
    flex-wrap: wrap;
    justify-content:space-evenly;
    text-align: center; 
}

.card_film {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    font-family: 'Gayathri', sans-serif;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.frontFaceCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    cursor: pointer;
}

.posterContainer {
    width: 90%;
    
}

.card_film img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.frontFaceCard h2{
    margin: 20px;
    font-size: 40px;
}

.movieDate{
    display: flex;
    flex-direction: row;
    width: 100%;    
    align-items: center;
    font-size: 30px;
    margin: 20px;
    justify-content:space-around;
    
    
}


.movieDate span{
    font-size: 35px;
    font-weight: bolder;
}



.movie_info {
    flex-direction: column;
    position: absolute;
    display: none;
    width: 100%;    
    height: 100%;
    padding: 3%;
    bottom: 0;
    overflow: auto;
    transition: transform 0.7s ease-in;
    background-color: #E9EFDE;
    transform: translateY(101%);
    border-radius: 20px;
}

.card_film:hover .movie_info{
    display: flex;
    transform: translateY(0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

.characters {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    display:flex;    
    justify-content:space-around;
    text-align: center;  
    height: 150px;
}
footer a {
    color: #F9FFED;
}
.website{
    font-family: 'Gayathri', sans-serif;
    text-decoration: none;
    background-color: #098ED6;     
    padding-top: 0.8vw;
    font-size: 1.5vw;   
    height: 2vw; 
}
i{
    font-size: 3vw;    
    height: 2vw; 
}



/* For device width 990px and larger: */
@media only screen and (min-device-width: 990px) {
    .haederContainer{
        margin: 0;
    }

    .haederContainer h1{
        font-size: 80px;
        height: 80px;
        padding: 15px;
    }

    .home{
    width: 100%;
    background-image: url("https://i.ibb.co/TDQZk6p/Fondo-Totoro.jpg");
    background-size: cover;
    height: 800px;
    }

    .home img {
        display: none;
    }

    .menuContainer{
        position:unset;
    }
    .menu{
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;    
        justify-content:space-evenly;    
        background-color: #C28800;
        padding: 1vw;        
        font-family: 'Gayathri', sans-serif;    
        color: #F9FFED;
        font-size: 3vw;
        list-style: none;
    }

    .menu a {
        color: #F9FFED;    
    }

    .menuHamburguesa{
        display: none;
    }
    .aboutDescription {
        align-self: flex-start;
        width: 60%;
    }

    .aboutText{
        font-size: 25px;
    }

    .films{
        margin-top: 50px;
    }
    .selector{
        padding-top: 50px;
    }

    .card_film {
        width: 400px;
    }  


}